# Ignore terraform working directories in ALL subfolders
**/.terraform/

# Ignore state files everywhere
**/*.tfstate
**/*.tfstate.*

# Crash logs
**/crash.log

# Plan files
**/*.tfplan
**/*.plan
**/*-plan.txt

# Optional: variables (if sensitive)
# **/*.tfvars
